# LLM API Configuration
LLM_API_KEY=your_llm_api_key_here
LLM_API_URL=https://api.groq.com/openai
LLM_MODEL=openai/gpt-oss-120b

# Application Configuration
APP_URL=http://personal-portfolio-ai:8000

# sqlite-vec Configuration
SQLITE_DB_PATH=vectors.db

# Session Configuration
SESSION_SECRET_KEY=your_session_secret_key_here

